body{
    background: linear-gradient(#ff4040 0%, #ff8040 50%, #ffc640 100%);
    font-family: 'Zen Tokyo Zoo', cursive;
}

h3 {
    font-size: 50px;
}

.btn-success:hover {
    background-color: orange;
}

canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        box-shadow: 1px 1px 50px blue;
    }

    50% {
        box-shadow: 1px 1px 50px purple;
    }

    100%  {
        box-shadow: 1px 1px 50px blue;
    }


}